<nav class="ml-4">
  <ul>
    <li>
      <a href="{{path('question')}}">Questions</a>
    </li>
    <li>
      <a href="{{path('category')}}">Catégories</a>
    </li>
    <li>
      <a href="{{path('score_list')}}">Scores</a>
    </li>
  </ul>
</nav>
