{% extends 'base.html.twig' %}

{% block body %}
  <table class="table table-bordered table-striped">
    <tr>
      <th>Utilisateur</th>
      <th>Pourcentage de réussite</th>
      <th>Date</th>
    </tr>
    {% for score in scores %}
    <tr>
      <td>{{score.username}}</td>
      <td>{{score.result}}%</td>
      <td>{{score.date.format('d/m/Y H:i')}}</td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}
